<div class="container">
  <div class="logout">
    <i class="fa-solid fa-right-from-bracket fa-1x logOutSign"></i>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1 class="text-center logoutText">Logged Out Successfully</h1>
      <hr />
      <h3 class="text-center logoutText">
        Thanks for Visiting <i class="fa-regular fa-face-smile"></i>
      </h3>
      <hr />

      <h5 class="text-center logoutText">
        Please <a [routerLink]="['/login']">click here</a> to login back to our
        site <i class="fa-solid fa-right-to-bracket"></i>
      </h5>
    </div>
  </div>
</div>
